#produtos,#sobre,#fale{
    min-height: 100vh;
    padding: 5em;

}
#produtos{
    background-color: rgb(41, 41, 144);


}
#sobre{
    background-color: aqua;
}
#fale{
    background-color: dodgerblue;
}
nav{
    position: fixed;
    margin-top: 0px;
    width: 100%;
    z-index: 10000;

}
#produtos.img{
    max-height: 350px;
}

.card h5{
    text-align: center;
}

h1{
    margin-bottom: 1em;
}

#subir a{
    position: fixed;
    right: 0.5em;
    bottom: 1em;
    text-decoration: none;
    color: aliceblue;
    opacity: 0.5;
    text-align: center;
}

#subir a i{
    font-size: 3em;
}

#subir a:hover{
    opacity: 1;

}


#subir{
    display: none;
}